@use "../../scss/abstracts/" as *;

html {
  background-color: var(--bgc);
}

.container {
  @include flex();
  min-height: 100vh;
  background-color: var(--bgc);
  
  .keyPic {
    width: 800px;
    min-width: 600px;
    order: 2;
    
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
}

.loginBox {
  @include flex();
  flex-direction: column;
  width: 400px;
  padding: 2rem;
  background-color: #f9f9fa;
  color: #424750;
  border-radius: $mediumBorderRadius;
  box-shadow: $mainBoxShadow;

  .logo {
    margin-top: -2rem;
    width: 200px;
  }

  .title {
    font-size: $fontSizeHeadlineMedium;
    line-height: 50px;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  input,
  label,
  a {
    background-color: #f9f9fa !important;
    color: #424750;
  }

  .errorMessage {
    font-size: 14px;
    color: red;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;

    &.show {
      opacity: 1;
    }
  }

  button {
    display: block;
    width: 100%;
  }

  .forgat_pass {
    margin: 1rem 0;
    display: inline-block;
    color: gray;
    font-size: 14px;
  }

  .checkbox {
    @include flex(center, flex-start);
    
    input {
      width: 20px;
      height: 20px;
      border-radius: 8px;
    }
    
    label {
      margin-left: 0.5rem;
    }
  }
}

.rtl {
  font-family: iranyekan, "IRANSans", "Tahoma";
  direction: rtl;
  text-align: right;

  label {
    right: 10px;
    left: auto;
  }
}